ApiCZ/Connected Services/markWS/homeport1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd1="fxl" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="fxl" name="homeport" targetNamespace="fxl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xs1="fxl" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fxl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Заказ">
        <xs:choice>
          <xs:element maxOccurs="unbounded" name="СтрокиЗаказа" type="xs1:СтрокаЗаказа" />
          <xs:element name="Организация" type="xs1:Организация" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:choice>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="КМ">
        <xs:sequence>
          <xs:element name="Код" type="xs:string" />
          <xs:element name="Использован" type="xs:boolean" />
          <xs:element name="ИдЗаказа" type="xs:string" />
          <xs:element name="gtin" type="xs:string" />
          <xs:element name="Организация" type="xs1:Организация" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="МассивКМ">
        <xs:choice>
          <xs:element maxOccurs="1000" name="КМ" type="xs:string" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="Организация">
        <xs:sequence>
          <xs:element name="инн" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ОтчетКМ">
        <xs:choice>
          <xs:element maxOccurs="unbounded" name="Строки" type="xs1:СтрокаСтатусКМ" />
          <xs:element name="Организация" type="xs1:Организация" />
          <xs:element minOccurs="0" name="Ответственный" type="xs:string" />
          <xs:element minOccurs="0" name="Собственник" nillable="true" />
          <xs:element minOccurs="0" name="НомерСертификата" type="xs:string" />
          <xs:element minOccurs="0" name="НомерЛицензии" type="xs:string" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="РезультатВыполненияОперации">
        <xs:all>
          <xs:element name="Выполнено" type="xs:boolean" />
          <xs:element name="Комментарий" type="xs:string" />
          <xs:element name="Счетчик" type="xs:integer" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="РезультатОбработкиЗаказа">
        <xs:sequence>
          <xs:element minOccurs="0" name="ИдЗаказаЧЗ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ОжидаемоеВремяВыполнения" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Ошибка" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Описание" nillable="true" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="РезультатОбработкиОтчетаКМ">
        <xs:choice>
          <xs:element minOccurs="0" name="Ошибка" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Описание" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="МассивОшибочныхКМ" type="xs:string" />
          <xs:element name="ИдДокумента" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:choice>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="СписокКМ">
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="100000" name="КМ" type="xs1:КМ" />
          <xs:element name="Количество" type="xs:int" />
          <xs:element name="Ошибка" type="xs:boolean" />
          <xs:element name="Комментарий" nillable="true" type="xs:string" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="СписокПартий">
        <xs:choice>
          <xs:element maxOccurs="unbounded" name="Партии" type="xs:string" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="СписокПривязки">
        <xs:choice>
          <xs:element maxOccurs="100000" name="СтрокаСписка" type="xs1:СтрокаСпискаПривязки" />
          <xs:element name="ИНН" type="xs:string" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="СтатусВводаВОборот">
        <xs:sequence>
          <xs:element name="Статус" type="xs:string" />
          <xs:element name="Комментарий" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="СтатусыКМСводно">
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="СтрокиСтатуса" type="xs1:СтрокаСтатусыКМСводно" />
          <xs:element name="Комментарий" nillable="true" />
          <xs:element name="Успешно" type="xs:boolean" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="СтатусыКМСводноМассив">
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="СтрокиСтатуса" type="xs1:СтрокаСтатусыКМСводноМассив" />
          <xs:element name="Комментарий" nillable="true" />
          <xs:element name="Успешно" type="xs:boolean" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="СтрокаЗаказа">
        <xs:sequence>
          <xs:element name="gtin" type="xs:string" />
          <xs:element name="Количество" type="xs:int" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="СтрокаСпискаПривязки">
        <xs:all>
          <xs:element name="КМ" type="xs:string" />
          <xs:element name="НомерПартии" type="xs:string" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="СтрокаСтатусКМ">
        <xs:sequence>
          <xs:element name="КМ" type="xs:string" />
          <xs:element minOccurs="0" name="Использован" type="xs:boolean" />
          <xs:element minOccurs="0" name="Списан" type="xs:boolean" />
          <xs:element name="ДатаПроизводства" type="xs:date" />
          <xs:element minOccurs="0" name="ТНВЭД" type="xs:string" />
          <xs:element minOccurs="0" name="НомерВСД" type="xs:string" />
          <xs:element minOccurs="0" name="СрокГодности" type="xs:date" />
          <xs:element minOccurs="0" name="НомерПартии" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="СтрокаСтатусыКМСводно">
        <xs:all>
          <xs:element name="Статус" type="xs:string" />
          <xs:element name="Количество" type="xs:int" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="СтрокаСтатусыКМСводноМассив">
        <xs:all>
          <xs:element name="Статус" type="xs:string" />
          <xs:element name="Количество" type="xs:int" />
          <xs:element name="НомерПартии" type="xs:string" />
        </xs:all>
      </xs:complexType>
      <xs:element name="ЗаказатьКоды">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Заказ" type="xs1:Заказ" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ЗаказатьКодыResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:РезультатОбработкиЗаказа" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьКоды">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ИдЗаказа" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьКодыResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:СписокКМ" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ОтчетПоИспользованиюКМ">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ОтчетКМ" type="xs1:ОтчетКМ" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ОтчетПоИспользованиюКМResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:РезультатОбработкиОтчетаКМ" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ВыгрузитьВБицерба">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ИдЗаказа" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ВыгрузитьВБицербаResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:РезультатВыполненияОперации" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьСтатусВводаВОборот">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ИдДокумента" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьСтатусВводаВОборотResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:СтатусВводаВОборот" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьИнформациюПоКодам">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="МассивКМ" type="xs1:МассивКМ" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьИнформациюПоКодамResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПривязатьКМКПартии">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="СписокПривязки" type="xs1:СписокПривязки" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПривязатьКМКПартииResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:РезультатВыполненияОперации" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьСтатусКМПоПартии">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="НомерПартии" type="xs:string" />
            <xs:element name="ИНН" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьСтатусКМПоПартииResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:СтатусыКМСводно" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьСтатусКМПоПартиям">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="СписокПартий" type="xs:string" />
            <xs:element name="ИНН" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьСтатусКМПоПартиямResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:СтатусыКМСводно" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="ЗаказатьКодыRequestMessage">
    <part name="parameters" element="tns:ЗаказатьКоды" />
  </message>
  <message name="ЗаказатьКодыResponseMessage">
    <part name="parameters" element="tns:ЗаказатьКодыResponse" />
  </message>
  <message name="ПолучитьКодыRequestMessage">
    <part name="parameters" element="tns:ПолучитьКоды" />
  </message>
  <message name="ПолучитьКодыResponseMessage">
    <part name="parameters" element="tns:ПолучитьКодыResponse" />
  </message>
  <message name="ОтчетПоИспользованиюКМRequestMessage">
    <part name="parameters" element="tns:ОтчетПоИспользованиюКМ" />
  </message>
  <message name="ОтчетПоИспользованиюКМResponseMessage">
    <part name="parameters" element="tns:ОтчетПоИспользованиюКМResponse" />
  </message>
  <message name="ВыгрузитьВБицербаRequestMessage">
    <part name="parameters" element="tns:ВыгрузитьВБицерба" />
  </message>
  <message name="ВыгрузитьВБицербаResponseMessage">
    <part name="parameters" element="tns:ВыгрузитьВБицербаResponse" />
  </message>
  <message name="ПолучитьСтатусВводаВОборотRequestMessage">
    <part name="parameters" element="tns:ПолучитьСтатусВводаВОборот" />
  </message>
  <message name="ПолучитьСтатусВводаВОборотResponseMessage">
    <part name="parameters" element="tns:ПолучитьСтатусВводаВОборотResponse" />
  </message>
  <message name="ПолучитьИнформациюПоКодамRequestMessage">
    <part name="parameters" element="tns:ПолучитьИнформациюПоКодам" />
  </message>
  <message name="ПолучитьИнформациюПоКодамResponseMessage">
    <part name="parameters" element="tns:ПолучитьИнформациюПоКодамResponse" />
  </message>
  <message name="ПривязатьКМКПартииRequestMessage">
    <part name="parameters" element="tns:ПривязатьКМКПартии" />
  </message>
  <message name="ПривязатьКМКПартииResponseMessage">
    <part name="parameters" element="tns:ПривязатьКМКПартииResponse" />
  </message>
  <message name="ПолучитьСтатусКМПоПартииRequestMessage">
    <part name="parameters" element="tns:ПолучитьСтатусКМПоПартии" />
  </message>
  <message name="ПолучитьСтатусКМПоПартииResponseMessage">
    <part name="parameters" element="tns:ПолучитьСтатусКМПоПартииResponse" />
  </message>
  <message name="ПолучитьСтатусКМПоПартиямRequestMessage">
    <part name="parameters" element="tns:ПолучитьСтатусКМПоПартиям" />
  </message>
  <message name="ПолучитьСтатусКМПоПартиямResponseMessage">
    <part name="parameters" element="tns:ПолучитьСтатусКМПоПартиямResponse" />
  </message>
  <portType name="homeportPortType">
    <operation name="ЗаказатьКоды">
      <input message="tns:ЗаказатьКодыRequestMessage" />
      <output message="tns:ЗаказатьКодыResponseMessage" />
    </operation>
    <operation name="ПолучитьКоды">
      <input message="tns:ПолучитьКодыRequestMessage" />
      <output message="tns:ПолучитьКодыResponseMessage" />
    </operation>
    <operation name="ОтчетПоИспользованиюКМ">
      <input message="tns:ОтчетПоИспользованиюКМRequestMessage" />
      <output message="tns:ОтчетПоИспользованиюКМResponseMessage" />
    </operation>
    <operation name="ВыгрузитьВБицерба">
      <input message="tns:ВыгрузитьВБицербаRequestMessage" />
      <output message="tns:ВыгрузитьВБицербаResponseMessage" />
    </operation>
    <operation name="ПолучитьСтатусВводаВОборот">
      <input message="tns:ПолучитьСтатусВводаВОборотRequestMessage" />
      <output message="tns:ПолучитьСтатусВводаВОборотResponseMessage" />
    </operation>
    <operation name="ПолучитьИнформациюПоКодам">
      <input message="tns:ПолучитьИнформациюПоКодамRequestMessage" />
      <output message="tns:ПолучитьИнформациюПоКодамResponseMessage" />
    </operation>
    <operation name="ПривязатьКМКПартии">
      <input message="tns:ПривязатьКМКПартииRequestMessage" />
      <output message="tns:ПривязатьКМКПартииResponseMessage" />
    </operation>
    <operation name="ПолучитьСтатусКМПоПартии">
      <input message="tns:ПолучитьСтатусКМПоПартииRequestMessage" />
      <output message="tns:ПолучитьСтатусКМПоПартииResponseMessage" />
    </operation>
    <operation name="ПолучитьСтатусКМПоПартиям">
      <input message="tns:ПолучитьСтатусКМПоПартиямRequestMessage" />
      <output message="tns:ПолучитьСтатусКМПоПартиямResponseMessage" />
    </operation>
  </portType>
  <binding name="homeportSoapBinding" type="tns:homeportPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ЗаказатьКоды">
      <soapbind:operation soapAction="fxl#homeport:ЗаказатьКоды" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьКоды">
      <soapbind:operation soapAction="fxl#homeport:ПолучитьКоды" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ОтчетПоИспользованиюКМ">
      <soapbind:operation soapAction="fxl#homeport:ОтчетПоИспользованиюКМ" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ВыгрузитьВБицерба">
      <soapbind:operation soapAction="fxl#homeport:ВыгрузитьВБицерба" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьСтатусВводаВОборот">
      <soapbind:operation soapAction="fxl#homeport:ПолучитьСтатусВводаВОборот" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьИнформациюПоКодам">
      <soapbind:operation soapAction="fxl#homeport:ПолучитьИнформациюПоКодам" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ПривязатьКМКПартии">
      <soapbind:operation soapAction="fxl#homeport:ПривязатьКМКПартии" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьСтатусКМПоПартии">
      <soapbind:operation soapAction="fxl#homeport:ПолучитьСтатусКМПоПартии" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьСтатусКМПоПартиям">
      <soapbind:operation soapAction="fxl#homeport:ПолучитьСтатусКМПоПартиям" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="homeportSoap12Binding" type="tns:homeportPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ЗаказатьКоды">
      <soap12bind:operation soapAction="fxl#homeport:ЗаказатьКоды" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьКоды">
      <soap12bind:operation soapAction="fxl#homeport:ПолучитьКоды" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ОтчетПоИспользованиюКМ">
      <soap12bind:operation soapAction="fxl#homeport:ОтчетПоИспользованиюКМ" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ВыгрузитьВБицерба">
      <soap12bind:operation soapAction="fxl#homeport:ВыгрузитьВБицерба" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьСтатусВводаВОборот">
      <soap12bind:operation soapAction="fxl#homeport:ПолучитьСтатусВводаВОборот" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьИнформациюПоКодам">
      <soap12bind:operation soapAction="fxl#homeport:ПолучитьИнформациюПоКодам" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ПривязатьКМКПартии">
      <soap12bind:operation soapAction="fxl#homeport:ПривязатьКМКПартии" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьСтатусКМПоПартии">
      <soap12bind:operation soapAction="fxl#homeport:ПолучитьСтатусКМПоПартии" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ПолучитьСтатусКМПоПартиям">
      <soap12bind:operation soapAction="fxl#homeport:ПолучитьСтатусКМПоПартиям" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="homeport">
    <port name="homeportSoap" binding="tns:homeportSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://10.147.20.4/MARK/ws/homeport" />
    </port>
    <port name="homeportSoap12" binding="tns:homeportSoap12Binding">
      <soap12bind:address location="http://10.147.20.4/MARK/ws/homeport" />
    </port>
  </service>
</definitions>